<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/layout/footer.css">
</head>
<body>
  <nav class="bottom-nav">
    <a href="myreport.html" class="nav-item active">
      <span>📊</span>
      <span>리포트</span>
    </a>
    <a href="map-home.html" class="nav-item">
      <span>🏠</span>
      <span>홈</span>
    </a>
    <a href="mypage.html" class="nav-item">
      <span>👤</span>
      <span>MY</span>
    </a>
  </nav>  
</body>
</html>
