@import url('../variables.css');


.logo-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: var(--color-wrapper);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logo-img {
  width: 57px;
  height: 62px;
  object-fit: contain;
}

.signup-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background: var(--grad-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.signup-form input,
.signup-form select {
  padding: 12px;
  border: 1px solid #C8F0AF;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  border-color: none;
  box-shadow: 0 0 5px rgba(61, 189, 93, 0.5);
}

[type="checkbox"] {
  border: 3px solid #C8F0AF;
  accent-color: white; 
}

.id-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.id-row input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
}

.btn-check {
  background: var(--color-button);
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
  white-space: nowrap;
  height: 44px;
  flex-shrink: 0;
}

.pw-box {
  position: relative;
}

.pw-box input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #444;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="number"],
.signup-form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
  width: 100%;
}

.birth-gender {
  display: flex;
  gap: 10px;
}

.birth-gender input,
.birth-gender select {
  flex: 1;
}

.checkbox-area {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #333;
  margin-top: 5px;
}

.checkbox-area input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.checkbox-area a {
  color: #3dbd5d;
  font-weight: bold;
  text-decoration: none;
}

.btn-submit {
  padding: 14px;
  background: var(--color-button);
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 6px;
}

.login-link {
  font-size: 13px;
  color: #666;
  margin-top: 16px;
}

.login-link a {
  color: #3dbd5d;
  font-weight: bold;
  text-decoration: none;
}
